aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.8.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==3.1.0
cryptography==44.0.1
Django==4.2.19
django-allauth==65.4.1
django-allow-cidr==0.7.1
django-ckeditor==6.5.1
django-js-asset==2.0.0
django-prometheus==2.3.1
django-taggit==4.0.0
exceptiongroup==1.1.1
frozenlist==1.3.3
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
gunicorn==23.0.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.17.3
multidict==6.0.4
oauthlib==2.1.0
openai==0.27.6
openapi==1.1.0
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
prometheus_client==0.21.1
psycopg==3.2.4
psycopg2-binary==2.9.10
pybitbucket==0.12.0
pycparser==2.22
PyJWT==2.10.1
pymssql==2.3.2
pyrsistent==0.19.3
pytest==7.3.1
requests==2.29.0
requests-oauthlib==0.8.0
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.12.2
uritemplate==0.6
urllib3==1.26.15
voluptuous==0.13.1